body{
    margin: auto;
    padding: auto;
}

h1 {
    text-align: center;
}

img {
    width: 200px;
}

.modify{
    width: 0.8rem;
    height: 0.8rem;
}


.item{
    display: flex;
    justify-content: space-evenly;
    padding: 20px;    
}


.desc{
    width: 40%;
    text-align: start;
    padding: 10px;
}