{% extends 'base.html.twig' %}

{% block title %}Liste des utilisateurs{% endblock %}

{% block body %}
    <style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

    <div class="row justify-content-end"> 
    <a class='btn btn-info p-2 col-md-3' href="{{ path('admin') }}">Retour</a>
</div>

    <h1>Liste des utilisateurs</h1>

    <table class="table table-hover text-center">
        <thead>
            <th>ID</th>
            <th>Email</th>
            <th>Rôles</th>
        </thead>
        <tbody>
            {# On boucle sur les utilisateurs #}
            {% for users in user %}
                <tr>
                    <td>{{ users.id }}</td>
                    <td>{{ users.email }}</td>
                    <td>
                        {# On boucle sur les rôles #}
                        {% for role in users.roles %}
                            {% if role == "ROLE_USER" %}
                                Utilisateur
                            {% elseif role == "ROLE_ADMIN" %}
                                Administrateur
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td><a href="{{ path('user_update', {'id': users.id}) }}"><img src="/public/img/modify.png" alt="modifier"></a></td>
                </tr>
                
            {% else %}
                <p>Aucun utilisateur inscrit</p>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}